
$h6-font-size: $font-size-base * 0.75;
$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 1.875;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base * 0.875;
$headings-color: $black;
$gray-500: #808080;
$text-muted: $gray-500;
$light: $white;
$primary: $black;
$link-color: $gray-500;
$link-hover-color: darken($link-color, 45%);
$font-family-sans-serif: 'Varela Round', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-color: $gray-700;
$jumbotron-bg: $white;
$info: #f8f7f5;